.filter-section {
  background: url("../../../assets/img/bg-header.svg");
  background-color: #5da5a4;
  background-position: center;
  background-size: cover;
  height: 20vh;
  width: var(--w-100);
}

.filter-container {
  width: var(--w-80);
  margin: 0 auto;
}

.filter-wrapper {
  display: flex;
  width: var(--w-100);
}

.filter-panel {
  background-color: var(--white);
  box-shadow: var(--cards-shadow);
  width: var(--w-100);
  height: auto;
  margin-top: 95px;
  border-radius: var(--br-8);
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}